{% extends "website/base.html" %}

{% block conteudo %}
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
 </button>
 <a class="navbar-brand" href="">MariaJob</a>
</div>
<div id="navbar" class="collapse navbar-collapse">
 <ul class="nav navbar-nav">
   <li class="active"><a href="">Inicio</a></li>
   <li><a href="#about">Meus Projetos</a></li>
   <li><a href="#contact">Configurações</a></li>
 </ul>
</div><!--/.nav-collapse -->
</div>
</nav>
	<div class="container">
	  <h2 class="area">Complete seu perfil</h2> 
	  <br>
	  <div class="panel panel-default">
	    <div class="panel-body">
	    	<h2>Formação / Escolaridade</h2>
	    	<form class="form-job">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">+</span>
				<input type="text" class="form-control" placeholder="Instituição de Ensino" aria-describedby="basic-addon1">
				<input type="text" class="form-control" placeholder="Curso" aria-describedby="basic-addon1">
				<input type="text" class="form-control" placeholder="Ano de Conclusão" aria-describedby="basic-addon1">
			</div>
  			<h2>Experiência</h2>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">+</span>
				<input type="text" class="form-control" placeholder="Empresa" aria-describedby="basic-addon1">
				<input type="text" class="form-control" placeholder="Cargo" aria-describedby="basic-addon1">
				<input type="text" class="form-control" placeholder="Período" aria-describedby="basic-addon1">
			</div>
  			<h2>Idiomas</h2>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">+</span>
				<input type="text" class="form-control" placeholder="Idioma" aria-describedby="basic-addon1">
					<div class="form-group">
					  <label for="sel1">Nível de Experiência</label>
					  	<select class="form-control" id="sel1">
						    <option>Básico</option>
						    <option>Intermediário</option>
						    <option>Avançado</option>
					  	</select>
					</div>
			</div>
  			<h2>Localidade</h2>
				 <label for="sel2">País</label>
				  	<select class="form-control" id="sel2">
				    	<option selected>Brasil</option>
				    	<option >Outros</option>
				  	</select>
				  	<br>
		
					<a class="btn btn-lg btn-primary btn-block" href="{% url 'busca-vagas' %}">Salvar</a>	
				</form> 
		</div>
		
		
	  </div>
	</div>

{% endblock %}
