{% extends "website/base.html" %}

{% block conteudo %}


	<div class="container">
	  <h2 class="area"></h2>
	  <div class="panel panel-default">
	    <div class="panel-body">
	   		<h4>Laura</h4>
	   		<hr>
	   		<h5>Brasil,SP,Campinas</h5>
	   		

		</div>

		
	    </div>
	  </div>
	<div class="container">
	  <h2 class="area"></h2>
	  <div class="panel panel-default">
	    <div class="panel-body">
	   		<h4>Pagamento</h4>
	   		<hr>
	   		<h5>**** **** **** 0000</h5>
	   		

		</div>

		
	    </div>
	  </div>
	<div class="container">
	  <h2 class="area"></h2>
	  <div class="panel panel-default">
	    <div class="panel-body">
	   		<h4>Pagamento pelo Paypal</h4>
	   		<hr>
	   		<h5><a href="https://www.paypal.com/">Adicionar pagamento </a></h5>
	   		

		</div>

		
	    </div>
	  </div>  	  
	</div>




{% endblock %}
