{% extends "website/base.html" %}

{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>MariaJob</h1>
      <h2>Bem-vinda! O que você procura hoje?</h2>
      <button type="button" class="btn btn-default"><a href="{% url 'quero-contratar' %}">Quero Contratar</a></button>
      <button type="button" class="btn btn-default"><a href="{% url 'quero-trabalhar' %}">Quero Trabalhar</a></button>
      <button type="button" class="btn btn-default"><a href="{% url 'login' %}">Entrar no Sistema</a></button>
      <button type="button" class="btn btn-default"><a href="">Entrar com Facebook</a></button>
    </div>
  </div>
</div>
{% endblock %}
