{% extends "website/base.html" %}

{% block conteudo %}

	<div class="container">
	  <h2 class="area">Ótimo! Qual a sua área de atuação?</h2>
	  <div class="panel panel-default">
	    <div class="panel-body">
	   		<h4 class="area">Escolha a área</h4>
	   		<hr>
		<form class="form-job">
			<div class="row">

			  <button class="btn btn-lg btn-primary btn-block" type="submit">Design</button>
			  <button class="btn btn-lg btn-primary btn-block" type="submit">Desenvolvimento</button>
			  <button class="btn btn-lg btn-primary btn-block" type="submit">Negócios</button>
			 </div>
		</form>
	    </div>
	  </div>
	</div>





	{% for job in jobs %}
    <ul class="list-group">
        <li class="list-group-item">
            {{ job.name}}
        </li>
    </ul>
	{% endfor %}
{% endblock %}