{% extends "website/base.html" %}

{% block conteudo %}

<div class="container">
	<h2 class="area">Que tipo de serviço você deseja contratar?</h2>
	 <div class="panel panel-default">
	    <div class="panel-body">
	   		<h4 class="area">Localidade</h4>
	   		<hr>
				<form class="form-job">
					<div class="row">
						<label for="sel1">Escolha a categoria</label>
							<select class="form-control" id="sel1">
								<option selected>Design</option>
								<option>Negócio</option>
								<option>Desenvolvimento</option>
							</select>  
					</div>
					<br>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Quero Contratar</button>

					<a class="btn btn-lg btn-primary btn-block" href="{% url 'quero-trabalhar-negocios' %}">Negócios</a>
				</form>
		</div>
	</div>
<!--
Design
	Marca
	Pesquisa de Mercado
	Mídias Sociais
	Vídeo
	Edição de Imagens
Negócio
	E-mail 
	SEA
	SEO
	Gestão de Customer Relationship
	Teste A/B
Desenvolvimento
	Front-end
	Back-end
	Full stack
-->
{% endblock %}
