{% extends "website/base.html" %}

{% block conteudo %}

<!--Essa pagina sera direcionada para quero_trabalhar.html-->
<div class="container">
	<h2 class="area">Que tipo de serviço você deseja contratar?</h2>
	 <div class="panel panel-default">
	    <div class="panel-body">
				<form class="form-job">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
				          {% for category in categories %}
				            <a class="btn btn-lg btn-primary btn-block" href="{% url 'quero-contratar-areas' category.slug %}">{{category.name}}</a>
				          {% endfor %}
				        </div>
					</div>
					<br>
				</form>
		</div>
	</div>
{% endblock %}
