{% extends "website/base.html" %}
{% load static %}
{% block conteudo %}
  <div class="container">
    <div class="box">
      <form class="form-signin" action="{% url 'login' %}" method="post">
      <img style="margin-left:auto;margin-right:auto;" src="{% static 'img/logo.png' %}" alt="Smiley face" class="logo">
        {% csrf_token %}
        <hr>
        <div class="form-group">
					<div class="row">
						<div class="col-sm-10">
								<label for="id_username" class="col-sm-4 control-label">E-mail</label>
								<input autofocus="" class="form-control" id="id_username" maxlength="254" placeholder="E-mail" name="username" type="text" required /></p>
						</div>
					</div>			  
				</div>
		  	<div class="form-group">
		    	<div class="row">
						<div class="col-sm-10">
		    			<label for="id_password" class="col-sm-4 control-label">Senha</label>
		      		<input type="password" class="form-control" id="id_password" name="password" placeholder="Digite sua Senha">
						</div>		    	
					</div>
		  	</div>
				<hr>	
				<div class="row">
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Continuar">
	  		</div>
   		</form>
		</div>	
	</div>
{% endblock %}
